
#app {
    margin-left: -500px;
    width: 1000px;
}

.group {
    margin: 20px;
}

.players img {
    height: 150px;
    margin-right: 10px;
    border: 1px solid black;
}

.player-boxes {
    margin-bottom: 40px;
}

.player-boxes .box + .box {
    margin-left: 50px;
}

.block {
    margin: 20px;
}

.chasers img {
    height: 120px;
}

.chasers .big {
    font-size: 36px;
    position: relative;
    bottom: 50px;
    display: inline-block;
    padding: 20px;
}

.chasers .medium {
    font-size: 18px;
    position: relative;
    bottom: 55px;
}

.chasers .box {
    position: relative;
    bottom: 20px;
}

.keeper .code {
    font-family: 'sans-serif';
    font-size: 18px;
}

.seeker img {
    height: 300px;
}
