
#app {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -460px;
    width: 920px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
}

.header {
    font-size: 16px;
    margin-bottom: 40px;
}

.status {
    margin-bottom: 20px;
}

.board-container {
    margin-bottom: 40px;
}

.symbols {
    font-size: 36px;
    margin-bottom: 40px;
}

.grid {
    border: 1px solid black;
    display: inline-block;
}

.grid-row {
    height: 64px;
}

.square {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 2px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.piece {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: contain;
}

.can-drag {
    cursor: grab;
}

.can-drag:hover {
    border: 2px solid yellow;
}

.is-dragging {
    cursor: grabbing;
}

.can-drop {
    border: 2px solid yellow;
}

.white {
    background-color: white;
}

.black {
    background-color: lightgray;
}

.computer-last-move {
    border: 2px solid green;
}

.piece-R {
    background-image: url("./black-rook.png");
}

.piece-N {
    background-image: url("./black-knight.png");
}

.piece-B {
    background-image: url("./black-bishop.png");
}

.piece-Q {
    background-image: url("./black-queen.png");
}

.piece-K {
    background-image: url("./black-king.png");
}

.piece-P {
    background-image: url("./black-pawn.png");
}

.piece-r {
    background-image: url("./white-rook.png");
}

.piece-n {
    background-image: url("./white-knight.png");
}

.piece-b {
    background-image: url("./white-bishop.png");
}

.piece-q {
    background-image: url("./white-queen.png");
}

.piece-k {
    background-image: url("./white-king.png");
}

.piece-p {
    background-image: url("./white-pawn.png");
}
