body {
    background-image: url("../pensieve_hover.jpg");
}

.group {
    margin-bottom: -30px;
}

img {
    width: 125px;
}

.big {
    font-size: 36px;
    position: relative;
    bottom: 50px;
    display: inline-block;
    padding: 20px;
}

.box {
    position: relative;
    bottom: 20px;
}

.message {
    height: 250px;
    top: 250px;
}

.green {
    color: green;
}
